<div class="container-fluid">
  <div class="col-12">
    <app-navigation></app-navigation>
  </div>

</div>


<!--  -->

<!-- unwanted -->
<!-- <div class="container mt-5 mb-5">
  <div class="row g-0">
      <div class="col-md-6">
          <figure class="snip1224">
            
              <div class="image">
                  <img src="assets/L1.jpg" alt="sq-sample17" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
                  
                  <div class="price">
                      <s>₹90000.00</s>₹82999.00
                  </div>
              </figcaption>
              <p>MAC book Air</p>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
      <div class="col-md-6">
          <figure class="snip1224 hover">
          
              <div class="image">
                  <img src="assets/L1.jpg" alt="sq-sample15" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
                 
                  <div class="price">
                      <s>₹42999.00</s>₹39999.00
                  </div>
              </figcaption>
              <p>Hp pavilion</p>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
      <div class="col-md-6">
          <figure class="snip1224">
             
              <div class="image">
                  <img src="assets/B1.jpeg" alt="sq-sample17" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
                  
                  <div class="price">
                      <s>₹35999.00</s>₹30000.00
                  </div>
              </figcaption>
              <p>Inspiron 15</p>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
      <div class="col-md-6">
          <figure class="snip1224 hover">
          
              <div class="image">
                  <img src="assets/B2.jpeg" alt="sq-sample15" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
             
                  <div class="price">
                      <s>₹49999.00</s>₹45999.00
                  </div>
              </figcaption>
              <p>Lenovo Thinkpad</p>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
      <div class="col-md-6">
          <figure class="snip1224">
          
              <div class="image">
                  <img src="assets/L1.jpg" alt="sq-sample17" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
             
                  <div class="price">
                      <s>₹89999.00</s>₹84999.00
                  </div>
              </figcaption>
              <p>Dell Alienware</p>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
      <div class="col-md-6">
          <figure class="snip1224 hover">

              <div class="image">
                  <img src="assets/L1.jpg" alt="sq-sample15" />
              </div>
              <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
                      class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
              </div>
              <figcaption>
                  <p>HP Envy Notebook13
                  </p>
                  <div class="price">
                      <s>₹29999.00</s>₹24999.00
                  </div>
              </figcaption>
              <a href="#" class="add-to-cart">Add to Cart</a>
          </figure>
      </div>
  </div>
</div> -->

<!-- <div class="container mt-5 mb-5">
  <div class="row g-0">
    <div class="col-md-6">
      <figure class="snip1224">
        <div class="image">
          <img src="assets/Lap1.jpg" alt="sq-sample17" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <p>MAC book Air</p>
      
      </figure>
    </div>
    <div class="col-md-6">
      <figure class="snip1224 hover">
        <div class="image">
          <img src="assets/Lap1.jpg" alt="sq-sample15" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <figcaption>
          <div class="price">
            <s>₹42999.00</s>₹39999.00
          </div>
        </figcaption>
        <p>Hp pavilion</p>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </figure>
    </div>
    <div class="col-md-6">
      <figure class="snip1224">
        <div class="image">
          <img src="assets/Lap1.jpg" alt="sq-sample17" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <figcaption>
          <div class="price">
            <s>₹35999.00</s>₹30000.00
          </div>
        </figcaption>
        <p>Inspiron 15</p>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </figure>
    </div>
    <div class="col-md-6">
      <figure class="snip1224 hover">
        <div class="image">
          <img src="assets/Dell1.jpg" alt="sq-sample15" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <figcaption>
          <div class="price">
            <s>₹49999.00</s>₹45999.00
          </div>
        </figcaption>
        <p>Lenovo Thinkpad</p>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </figure>
    </div>
    <div class="col-md-6">
      <figure class="snip1224">
        <div class="image">
          <img src="assets/Dell2.jpg" alt="sq-sample17" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <figcaption>
          <div class="price">
            <s>₹89999.00</s>₹84999.00
          </div>
        </figcaption>
        <p>Dell Alienware</p>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </figure>
    </div>
    <div class="col-md-6">
      <figure class="snip1224 hover">
        <div class="image">
          <img src="assets/Dell3.jpg" alt="sq-sample15" />
        </div>
        <div class="rating"><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star"></i><i
            class="ion-ios-star"></i><i class="ion-ios-star-outline"></i>
        </div>
        <figcaption>
          <p>HP Envy Notebook13
          </p>
          <div class="price">
            <s>₹29999.00</s>₹24999.00
          </div>
        </figcaption>
        <a href="#" class="add-to-cart">Add to Cart</a>
      </figure>
    </div>
  </div>
</div> -->
<!-- unwanted -->

<img src="assets/Banner1.PNG" class="mb-3" width="100%" height="550px" alt="">
<!-- <div class="container my-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of data">
      <div class="card">
        <img src="{{ item.src }}"  class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p  class="m-0 text-primary">Add To Cart</p>
        </div>
        
      </div>
    </div>
  </div>
</div> -->


<div class="container pb-4 align-end">
  <form class="form-inline">
    <div style="width: 400px;" class="input-group">

      <input type="text" class="form-control mr-sm-2" name="description" [(ngModel)]="description"
        placeholder="Enter to Search">
      <div class="input-group-prepend">
        <button class="btn btn-warning input-group-text" (click)="Search()"> Search </button>
      </div>
    </div>
  </form>
</div>





<div class="container my-5">
  <div class="row g-2">
    <ng-container *ngFor="let pd of productlist">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/L8.jpg" class="card-img-top" alt="...">
          <h1 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
            {{pd.productCode}}</h1><br>
          <h4><b>{{pd.category}}</b></h4>
          <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
            {{pd.description}}</p>
          <h3 class="card-title"><strong>Rs.{{pd.unitPrice}}</strong></h3>
          <button type="button" (click)="addtocart(pd)" class="btn btn-primary">Add To Cart</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<footer>
  <div class="top_header">
    <section>
      <span><i class="fa fa-map-marker"></i></span>
      <span>India </span>
    </section>
    <section>
      <span><i class="fa fa-phone"></i></span>
      <span>(+91) 8976561276</span>
    </section>
    <section>
      <span><i class="fa fa-envelope"></i></span>
      <span>productstore@websitename.com</span>
    </section>
  </div>
  <span class="border-shape"></span>
  <div class="bottom_content">
    <section>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-telegram"></i></a>
    </section>
    <section>
      <a href=home()>Home</a>
      <a href=orders()>Orders</a>
      <a href=products()>products</a>
      <a href=mycart()>Myorders</a>
    </section>
  </div>
  <div class="copyright">
    Copyright © 2022 websitename - All rights reserved
  </div>
</footer>
